$black: #333;
$grey: #CCCCCC;
$blue: #85CABB;
$orange: #E6B744;

.widget.widget-donut {
    .slice {
	text {
	    font-size: 1.6em;
	}
	
	path {
	    stroke-width: 0; 
	}
    }
    .slice-grey path {
	fill: $grey;
    }
    .slice0 path {
	fill: $blue;
    }
    .slice1 path {
	fill: $orange;
    }
    .slice2 path {
	fill:#D0D0AE;
    }
    .slice3 path {
	fill:#BFDFF6;
    }
    .slice4 path {
	fill:#BCBCBC;
    }
    .slice5 path {
	fill:#B6DED3;
    }
}

.widget-donut-legend {
    .slice0 {
	color: $blue;
    }
    .slice1 {
	color: $orange;
    }
}