{% extends "base.html" %}

{% block page_title %}
Edit Project
{% endblock page_title %}

{% block content %}
<div class="actions">
<a class="btn pull-right" href="{% url 'entry:new' %}">Add project</a>
</div>

<ul class="nav nav-tabs">
  {% for name, cluster in projects.items %}
  <li{% if forloop.first %} class="active"{% endif %}><a href="#{{ name|slugify }}" data-toggle="tab">{{ name }}</a></li>
  {% endfor %}
</ul>

<div class="tab-content">
  {% for name, cluster in projects.items %}
  <div class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ name|slugify }}">
    <table data-toggle="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for project in cluster %}
        {% if project.uuid %}
            <tr>
                <td>
                <a href="{% url 'entry:edit' project.uuid %}">{{ project.name }}</a>
            </td>
            <td>{{ project.description }}</td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
  </div>
  {% endfor %}
</div>

{% endblock %}
