{% extends "base.html" %}

{% block page_title %}Edit Project{% endblock page_title %}

{% block content %}
<a class="btn pull-right" href="{% url 'entry:new' %}">Add project</a>

<ul class="nav nav-tabs">
  {% for name, cluster in projects.items %}
  <li{% if forloop.first %} class="active"{% endif %}><a href="#{{ name|slugify }}" data-toggle="tab">{{ name }}</a></li>
  {% endfor %}
</ul>

<div class="tab-content">
  {% for name, cluster in projects.items %}
  <div class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ name|slugify }}">
    <ul>
      {% for project in cluster %}
      {% if project.uuid %}
      <li>
	<a href="{% url 'entry:edit' project.uuid %}">{{ project.uuid }} - {{ project.description }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>

{% endblock %}
