# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~
\#*#

# LibreOffice lock files
.~*

# Virtualenv
venv

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

*.box
/.vagrant
/assets
vendor/bundle

#IDE
.idea/

#test coverage
coverage/

# Any backups of anything
*.bak

server/data/*.db

# Django assets
server/assets/*

# Gems and bundles
.bundle/
