<h1 class="page-header">
    Edit project
</h1>
<div class="row-fluid">

<div class="span8">

<div ng-switch="getCurrentStep()" ng-animate="'wave'" class="slide-frame">
<div ng-switch-when="one" ng-form='step1form'>
    <h4>Project details</h4>
    <ul class="breadcrumb">
        <li ng-class="{'active':isCurrentStep(0)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(0)}" ng-click="setCurrentStep(0)">Project details</a> <span class="divider">/</span></li>
        <li ng-class="{'active':isCurrentStep(1)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(1)}" ng-click="setCurrentStep(1)">Project location and scope</a> <span class="divider">/</span></li>
        <li ng-class="{'active':isCurrentStep(2)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(2)}" ng-click="setCurrentStep(2)">Project people</a> <span class="divider">/</span></li>
        <li ng-class="{'active':isCurrentStep(3)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(3)}" ng-click="setCurrentStep(3)">Milestone</a>  <span class="divider">/</span></li>
    </ul>
    <fieldset >
        <div class="row-fluid">
            <div class="span4">
                <p>
                    Programme:
                </p>
            </div>
            <div class="span4">
                <select name="programme" class="input-large" ng-model="wizard.project.programme.id" ng-options="p.id as p.name for p in programmes" ng-required="true">
                </select>
            </div>
            <div class="span4">
                <p class="error" ng-show="step1form.programme.$error.required">Required!</p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <p>
                    Name:
                </p>
            </div>
            <div class="span4">
                <input type="text" class="input-large" name="name" ng-model="wizard.project.name" ng-required="true">
            </div>
            <div class="span4">
                <p class="error" ng-show="step1form.name.$error.required">Required!</p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <p>
                    Project number:
                </p>
            </div>
            <div class="span4">
                <input type="text" class="input-large" name="project_number" ng-model="wizard.project.project_number" ng-pattern="project_number">
            </div>
            <div class="span4">
                <span class="error" ng-show="step1form.project_number.$error.pattern">There must be a number.</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <p>
                    Description:
                </p>
            </div>
            <div class="span4">
                <textarea class='input-large' name="description" id="description" cols="30" rows="10" ng-model="wizard.project.description"></textarea>
            </div>
            <div class="span4"></div>
        </div>
    </fieldset>
    <button class="btn btn-success" ng-disabled="!step1form.$valid" ng-click="submitForm(step1form.$valid)">Update project</button>
</div>
<div ng-switch-when="two" ng-form="step2form">
    <h4>Project location and scope</h4>
    <ul class="breadcrumb">
        <li ng-class="{'active':isCurrentStep(0)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(0)}" ng-click="setCurrentStep(0)">Project details</a> <span class="divider">/</span></li>
        <li ng-class="{'active':isCurrentStep(1)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(1)}" ng-click="setCurrentStep(1)">Project location and scope</a> <span class="divider">/</span></li>
        <li ng-class="{'active':isCurrentStep(2)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(2)}" ng-click="setCurrentStep(2)">Project people</a> <span class="divider">/</span></li>
        <li ng-class="{'active':isCurrentStep(3)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(3)}" ng-click="setCurrentStep(3)">Milestone</a>  <span class="divider">/</span></li>
    </ul>
    <fieldset>
        <div class="row-fluid">
            <div class="span2">
                <p>
                    District:
                </p>
            </div>
            <div class="span4">
                <select name="programme" class="input-large" id="district" ng-change='get_municipality()' ng-model="wizard.project.district.id" ng-options="d.id as d.name for d in districts" ng-required="true">
                </select>
            </div>
            <div class="span3">
                <p>
                    Municipality:
                </p>
            </div>
            <div class="span3">
                <p class="error" ng-show="!(wizard.project.municipality|is_check)">Required!</p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8">

            </div>
            <div class="span4">
                <div class="row-fluid" ng-repeat="municipality in municipalities">
                    <div class="span6">
                        <label class="control-label" for="municipality-{{ municipality.id }}">{{ municipality.name }}</label>
                    </div>
                    <div class="span6">
                        <input type="radio" name="radio" ng-model="wizard.project.municipality.id" ng-value="municipality.id">
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                Scope:
            </div>
            <div class="span9"></div>
        </div>
        <div class="row-fluid" ng-repeat="s in wizard.project.scope_of_work">
            <ng-form name="scopeWrapForm">
                <div class="span1">

                </div>
                <div class="span4">
                    <input type="text" class="input-large" name="quantity" ng-model="s.quantity" ng-pattern="number" placeholder="quantity">
                    <span class="error" ng-show="scopeWrapForm.quantity.$error.pattern">There must be a number!</span>
                </div>
                <div class="span4">
                    <select class="input-large" name="scope_code" ng-model="s.scope_code.id" ng-options="sc.id as sc.name for sc in scope_codes" >
                    </select>
                </div>
                <div class="span3 text-center">
                    <i ng-show="$index" class="icon-remove" ng-click="removeScopeOfWork(s)"></i>
                </div>
            </ng-form>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <a href="" onclick="return false" ng-click="addScopeOfWork()" >+ Add</a>
            </div>
        </div>
    </fieldset>
    <div >
        <button class="btn btn-success" ng-disabled="!(step2form.$valid&&wizard.project.municipality|is_check)" ng-click="submitForm((step2form.$valid&&wizard.project.municipality|is_check))">Update project</button>
    </div>
</div>
<div ng-switch-when="three" ng-form='step3form'>
    <h4>Project people</h4>
    <ul class="breadcrumb">
        <li ng-class="{'active':isCurrentStep(0)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(0)}" ng-click="setCurrentStep(0)">Project details</a> <span class="divider">/</span></li>
        <li ng-class="{'active':isCurrentStep(1)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(1)}" ng-click="setCurrentStep(1)">Project location and scope</a> <span class="divider">/</span></li>
        <li ng-class="{'active':isCurrentStep(2)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(2)}" ng-click="setCurrentStep(2)">Project people</a> <span class="divider">/</span></li>
        <li ng-class="{'active':isCurrentStep(3)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(3)}" ng-click="setCurrentStep(3)">Milestone</a>  <span class="divider">/</span></li>
    </ul>
    <fieldset>
        <div class="row-fluid" ng-repeat="role_item in wizard.project.project_role">
            <ng-form name="roleWrapForm">
                <div class="span4">
                    {{ role_item.role.name }}:
                </div>
                <div class="span4">
                    <select chosen data-placeholder="Select entity" disable-search="false" ng-model="role_item.entity.id" ng-options="e.id as e.name for e in entities" ></select>
                </div>
                <div class="span4">
                    <p class="error" ng-show="roleWrapForm.r.$error.required">Required!</p>
                </div>
            </ng-form>
        </div>
    </fieldset>
    <div >
        <button class="btn btn-success" ng-disabled="!step3form.$valid" ng-click="submitForm(step3form.$valid)">Update project</button>
    </div>
</div>
<div ng-switch-when="four" ng-form="step4form">
    <h4>Milestone</h4>
    <ul class="breadcrumb">
        <li ng-class="{'active':isCurrentStep(0)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(0)}" ng-click="setCurrentStep(0)">Project details</a> <span class="divider">/</span></li>
        <li ng-class="{'active':isCurrentStep(1)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(1)}" ng-click="setCurrentStep(1)">Project location and scope</a> <span class="divider">/</span></li>
        <li ng-class="{'active':isCurrentStep(2)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(2)}" ng-click="setCurrentStep(2)">Project people</a> <span class="divider">/</span></li>
        <li ng-class="{'active':isCurrentStep(3)}"><a onclick="return false;"  ng-class="{'':isCurrentStep(3)}" ng-click="setCurrentStep(3)">Milestone</a>  <span class="divider">/</span></li>
    </ul>
    <fieldset>

        <div class="row-fluid">
            <div class="span12">
                <accordion close-others="true">
                    <accordion-group  ng-repeat="phase in phases" heading="+ {{ phase|capitalize }}">
                        <fieldset class="well well-large">
                            <legend>Dates</legend>
                            <div class="row-fluid" ng-repeat="milestone in wizard.project.project_milestones | filter:{phase:[phase]} | orderBy:order">
                                <ng-form name="dateWrapForm">
                                    <div class="span6">
                                        <p>
                                            {{ milestone.name }}:
                                        </p>
                                    </div>
                                    <div class="span3">
                                        <input type="text" name="date" class="input-small" ng-model="milestone.completion_date" datepicker >
                                    </div>
                                    <div class="span3">
                                        <p class="error" ng-show="dateWrapForm.date.$error.required">Required!</p>
                                    </div>
                                </ng-form>
                            </div>
                        </fieldset>
                    </accordion-group>
                    <accordion-group  heading="+ Overall">
                        <fieldset class="well well-large">


                            <div class="row-fluid">
                                <div class="span3">Start date:</div>
                                <div class="span5">
                                    <input type="text" class="input-large" name="start_date" ng-model="wizard.start_date" datepicker placeholder="prepopulated from first milestone" >
                                </div>
                                <div class="span4">
                                    <p class="error" ng-show="step4form.start_date.$error.required">Required!</p>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3">Anticipated cost:</div>
                                <div class="span5">
                                    <input type="text" name="anticipated_cost" class="input-large" ng-model="wizard.project.project_financial.total_anticipated_cost" ng-pattern="number" ng-required="true">
                                </div>
                                <div class="span4">
                                    <p class="error" ng-show="step4form.anticipated_cost.$error.required">Required!</p>
                                    <span class="error" ng-show="step4form.anticipated_cost.$error.pattern">There must be a number.</span>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <fieldset class="well well-large">
                                        <legend>Annual Budget Allocation</legend>

                                        <div class="row-fluid" ng-repeat='i in []|range:(wizard.project.planning.length+1)'>
                                            <div class="span6" ng-repeat='y in wizard.project.planning.slice($index*2,$index*2+2)'>
                                                <ng-form name="allocationWrapForm">
                                                    <div class="row-fluid">
                                                        <div class="span2">{{ y.name }}</div>
                                                        <div class="span5">
                                                            <input type="text" name="input1" class="input-small" placeholder="budget" ng-model="y.allocated_planning_budget" ng-pattern="number" ><br>
                                                            <span class="error" ng-show="allocationWrapForm.input1.$error.pattern">There must be a number.</span>
                                                        </div>
                                                        <div class="span5">
                                                            <input type="text" name="input2" class="input-small" placeholder="amount" ng-model="y.allocated_budget" ng-pattern="number"><br>
                                                            <p class="error" ng-show="allocationWrapForm.input2.$error.required">Required!</p>
                                                            <span class="error" ng-show="allocationWrapForm.input2.$error.pattern">There must be a number.</span>
                                                        </div>
                                                    </div>
                                                </ng-form>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <ng-form name="addYearForm">
                                                <div class="span4">
                                                    <p>
                                                        Enter new year:
                                                    </p>
                                                </div>
                                                <div class="span4">
                                                    <input type="text" name="input" class="input-xlagre" ng-model='default.year' ng-pattern="year" >
                                                </div>
                                                <div class="span4">
                                                    <button class="btn pull-right" ng-disabled="!(addYearForm.$valid&&default.year)" ng-click="addYear(default.year, (addYearForm.$valid&&default.year))">+ Add</button>
                                                </div>
                                            </ng-form>
                                        </div>


                                    </fieldset>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <fieldset class="well well-large">
                                        <legend>Cashflow and Progress</legend>
                                        <accordion close-others="true">
                                            <accordion-group  ng-repeat="planning in wizard.project.planning" heading="+ {{ planning.name }}">
                                                <fieldset class="well well-large">
                                                    <div class="row-fluid">
                                                        <div class="span6">
                                                            <div class="row-fluid">
                                                                <div class="span2"></div>
                                                                <div class="span5">
                                                                    <p class="text-center">
                                                                        Expenditure
                                                                    </p>
                                                                </div>
                                                                <div class="span5">
                                                                    <p class="text-center">
                                                                        Progress
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="span6">
                                                            <div class="row-fluid">
                                                                <div class="span2"></div>
                                                                <div class="span5">
                                                                    <p class="text-center">
                                                                        Expenditure
                                                                    </p>
                                                                </div>
                                                                <div class="span5">
                                                                    <p class="text-center">
                                                                        Progress
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row-fluid" ng-repeat="i in [0,1,2,3,4,5]">
                                                        <div class="span6" ng-repeat="item in planning.month.slice($index*2,$index*2+2)">
                                                            <div class="row-fluid">
                                                                <div class="span2">
                                                                    {{ item.name.substring(0, 3) }}
                                                                </div>
                                                                <div class="span5">
                                                                    <input type="text" class="input-mini" placeholder="amount" ng-model='item.planning.amount' ng-pattern="number" ng-required='true'>

                                                                </div>
                                                                <div class="span5">
                                                                    <input type="text" class="input-mini" placeholder="%" ng-model="item.planning.progress" ng-pattern="number" ng-required='true'>

                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </accordion-group>
                                        </accordion>
                                    </fieldset>
                                </div>
                            </div>

                        </fieldset>
                    </accordion-group>

                </accordion>

            </div>
        </div>
    </fieldset>
    <div >
        <button class="btn btn-success" ng-disabled="!step4form.$valid" ng-click="submitForm(step4form.$valid)">Update project</button>
    </div>
</div>

</div>
</div>
</div>
