<h1 class="page-header">
    Create project
</h1>
<div class="row-fluid">

    <div class="span6">

        <div ng-switch="getCurrentStep()" ng-animate="'wave'" class="slide-frame">
            <div ng-switch-when="one">
                <h4>Project details</h4>
                <fieldset>
                    <ng-form name="step_one">
                    <table>
                        <tr>
                            <td class="span5">
                                <label class="control-label" for="programme">Programme:</label>
                            </td>
                            <td>
                                <select name="programme" class="input-xlarge" id="programme" ng-model="wizard.programme" ng-options="p.name for p in programmes">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="name">Name:</label>
                            </td>
                            <td>
                                <input type="text" class="input-xlarge" id="name" ng-model="wizard.name" ng-required="true">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="description">Description:</label>
                            </td>
                            <td>
                                <textarea class='input-xlarge' name="description" id="description" cols="30" rows="10" ng-model="wizard.description"></textarea>
                            </td>
                        </tr>
                    </table>
                    </ng-form>

                </fieldset>
            </div>
            <div ng-switch-when="two">
                <h4>Project location and scope</h4>
                <ul class="breadcrumb">
                    <li><a onclick="return false;"  ng-class="{'':isCurrentStep(0)}" ng-click="setCurrentStep(0)">Project details</a> <span class="divider">/</span></li>
                    <li ng-class="{'active':isCurrentStep(1)}"><span  ng-class="{'':isCurrentStep(1)}" ng-click="setCurrentStep(1)">Project location and scope</span> <span class="divider">/</span></li>
                </ul>


                <fieldset>
                    <table>
                        <tr>
                            <td class="span4">
                                <label class="control-label" for="district">District:</label>
                            </td>
                            <td class="span4">
                                <select name="programme" class="input-xlarge" id="district" ng-change='get_municipality()' ng-model="wizard.district" ng-options="d.name for d in districts">
                                </select>
                            </td>
                            <td>
                                <label class="control-label" >Municipality:</label>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="row-fluid" ng-repeat="municipality in municipalities">
                                    <div class="span6">
                                        <label class="control-label" for="municipality-{{ municipality.id }}">{{ municipality.name }}</label>
                                    </div>
                                    <div class="span6">
                                        <input type="checkbox"  name="{{ municipality.name }}" ng-model="wizard.municipalities[$index]" id="municipality-{{ municipality.id }}" value="{{ municipality.name }}">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr  ng-repeat="s in scopes">
                            <td>
                                <label class="control-label" for="{{ s }}_quantity">Scope:</label>
                            </td>
                            <td>
                                <input type="text" class="input-xlarge" id="{{ s }}_quantity" ng-model="wizard[s+'_quantity']">
                            </td>
                            <td>

                                <select name="{{ s }}_code" class="input-xlarge" id="{{ s }}_code" ng-model="wizard[s+'_code']" ng-options="sc.name for sc in scope_codes">
                                </select>
                            </td>
                        </tr>
                    </table>


                    <a href="" onclick="return false" ng-click="add()" >+ Add</a>

                </fieldset>
            </div>
            <div ng-switch-when="three">
                <h4>Project people</h4>
                <ul class="breadcrumb">
                    <li><a onclick="return false;"  ng-class="{'':isCurrentStep(0)}" ng-click="setCurrentStep(0)">Project details</a> <span class="divider">/</span></li>
                    <li><a onclick="return false;"  ng-class="{'':isCurrentStep(1)}" ng-click="setCurrentStep(1)">Project location and scope</a> <span class="divider">/</span></li>
                    <li ng-class="{'active':isCurrentStep(2)}"><span  ng-class="{'':isCurrentStep(2)}" ng-click="setCurrentStep(1)">Project people</span> <span class="divider">/</span></li>
                </ul>
                <fieldset>
                    <table>
                        <tr ng-repeat="role in roles">
                            <td class="span6">
                                {{ role.name }}:
                            </td>
                            <td class="span6">
                                <input type="text" class="input-xlarge" id="role-{{ role.id }}" name="role-{{ role.id }}" auto-complete ui-items="entities" ng-model="wizard[role.name]">
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div ng-switch-when="four">
                <h4>Milestone</h4>
                <ul class="breadcrumb">
                    <li><a onclick="return false;"  ng-class="{'':isCurrentStep(0)}" ng-click="setCurrentStep(0)">Project details</a> <span class="divider">/</span></li>
                    <li><a onclick="return false;"  ng-class="{'':isCurrentStep(1)}" ng-click="setCurrentStep(1)">Project location and scope</a> <span class="divider">/</span></li>
                    <li><a onclick="return false;"  ng-class="{'':isCurrentStep(2)}" ng-click="setCurrentStep(2)">Project people</a> <span class="divider">/</span></li>
                    <li ng-class="{'active':isCurrentStep(3)}"><span  ng-class="{'':isCurrentStep(3)}" ng-click="setCurrentStep(3)">Milestone</span> <span class="divider">/</span></li>
                </ul>
                <fieldset>
                    <table class="span12">
                        <tr>
                            <td class="span6">
                                <label class="control-label" for="project_planing_budget">Project planing budget:</label>
                            </td>
                            <td class="span6">
                                <input type="text" id="project_planing_budget" ng-model="wizard.project_planing_budget">
                            </td>
                        </tr>
                        <tr >
                            <td colspan="2">
                                <accordion close-others="true">
                                    <accordion-group  ng-repeat="phase in phases" heading="+ {{ phase }}">
                                        <fieldset class="well well-large">
                                            <legend>Dates</legend>
                                            <div class="row-fluid" ng-repeat="milestone in milestones | filter:{phase:[phase]} | orderBy:order">
                                                <div class="span6">{{ milestone.name }}</div>
                                                <div class="span6">
                                                    <input type="text" class="input-small" ng-model="wizard[milestone.name]" datepicker>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </accordion-group>
                                    <accordion-group  heading="+ Overal">
                                    <fieldset class="well well-large">
                                        <div class="row-fluid">
                                            <div class="span6">Start date:</div>
                                            <div class="span6">
                                                <input type="text" class="input-small" ng-model="wizard.start_date" datepicker placeholder="prepopulated from first milestone">
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span6">Anticipated cost:</div>
                                            <div class="span6">
                                                <input type="text" class="input-medium" ng-model="wizard.anticipated_cost">
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <fieldset class="well well-large">
                                                    <legend>Annual Budget Allocation</legend>
                                                    <div class="row-fluid" ng-repeat="y in year_items|group">
                                                        <div class="span3">
                                                            {{ y.0.name }}
                                                        </div>
                                                        <div class="span3">
                                                            <input type="text" class="input-mini" placeholder="amount" ng-model="wizard[y.0.name]">
                                                        </div>
                                                        <div class="span3">
                                                            {{ y.1.name }}
                                                        </div>
                                                        <div class="span3">
                                                            <input type="text" class="input-mini" placeholder="amount" ng-model="wizard[y.1.name]">
                                                        </div>

                                                    </div>

                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <fieldset class="well well-large">
                                                    <legend>Cashflow and Progress</legend>
                                                    <accordion close-others="true">
                                                        <accordion-group  ng-repeat="year in year_items" heading="+ {{ year.name }}">
                                                            <fieldset class="well well-large">
                                                                <table>
                                                                    <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>Expenditure</th>
                                                                        <th>Progress</th>
                                                                        <th></th>
                                                                        <th>Expenditure</th>
                                                                        <th>Progress</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr ng-repeat="m in month|group">
                                                                        <td>{{ m.0.name }}</td>
                                                                        <td>
                                                                            <input class="input-mini" type="text" placeholder="amount">
                                                                        </td>
                                                                        <td>
                                                                            <input class="input-mini" type="text" placeholder="%">
                                                                        </td>
                                                                        <td>
                                                                            {{ m.1.name }}
                                                                        </td>
                                                                        <td>
                                                                            <input class="input-mini" type="text" placeholder="amount">
                                                                        </td>
                                                                        <td>
                                                                            <input class="input-mini" type="text" placeholder="%">
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                
                                                                

                                                            </fieldset>
                                                        </accordion-group>
                                                    </accordion>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </fieldset>
                                </accordion-group>

                                </accordion>

                            </td>
                        </tr>
                    </table>

                </fieldset>
            </div>
            <div ng-switch-when="five">
                <fieldset>
                    Step-5
                </fieldset>
            </div>
            <div ng-switch-when="six">
                <fieldset>
                    Step-6
                </fieldset>
            </div>
            <div ng-switch-when="seven">
                <fieldset>
                    Step-7
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div >
    <a class="btn" ng-click="handlePrevious()" ng-show="!isFirstStep()">Back</a>
    <a class="btn btn-primary" ng-click="handleNext(dismiss)">{{getNextLabel()}}</a>
</div>	