<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/static/reports/css/style.css" rel="stylesheet" type="text/css">
    <title>The Dpwrt</title>
    <!--<script src="/static/reports/js/d3.v3.min.js" charset="utf-8"></script>-->
    <script src="/static/js/lib/require.js"></script>

    <script>
        require.config({
            baseUrl: "/static/js/",
            paths: {
                jquery : "lib/jquery",
                text : "lib/text",
                d3 : "lib/d3",
            },
            shim: {
                "lib/jquery": {
                    exports: '$'
                },
                "lib/d3": {
                    exports: 'd3'
                },
                "lib/jquery.number": ['jquery'],
            },
        });
    </script>

    {% block extraheader %}
    {% endblock %}
</head>
<body>
    <div class="container">
    <div class="logo-area cf">
        	<div class="logo-left-area cf">
            	<div class="logo"><a href="index.html#"><img src="/static/reports/images/logo.png" width="269px" height="81" alt=""></a></div><!-- .logo -->
                <div class="district-text">District Report | <span class="font-weight date">July (2012/2013)</span><br /><span class="district-name">NKANGALA</span></div><!-- .district-text -->
                <div class="nav-area cf">
                	<ul>
                    	<li class="dash active"><a href="/reports/district/dashboard/">Dashboard</a></li>
                    	<li class="progress"><a href="/reports/district/progress/">Progress</a></li>
                    	<li class="perform"><a href="/reports/district/perform/">Performance</a></li>
                    </ul>
                </div><!-- .nav-area -->
            </div><!-- .logo-left-area -->
            <div class="projects-title cf"><h3>{% block titleheading%}Projects under implementation{% endblock %}</h3></div><!-- .projects-title -->
    </div><!-- .logo-area -->
    </div><!-- .container -->
    {% block body %}{% endblock %}
</body>
</html>
