{% extends "reports/district/base.html" %}

{% block extraheader %}
<script>
    require(['lib/jquery', "reports/district"], function($, district) {
        var district_id = {{ district_id }}
        var year = {{ year }}
        var month = {{ month }}
        var d = new district(year, month);
        url = "/api/reports/district/" + district_id + "/" + year + "/" + month + "/";

        $.getJSON(url, function(json) {
        console.log(json["clients"][2]);
            d.populate_progress(json);
        });
    });
</script>
{% endblock %}

{% block titleheading %}Some heading here {% endblock %}

{% block body %}
    <div class="project-main-area cf">
    	<div class="container">
        	<div id="department-projects" class="cf">
            	<div class="department department-projects-1">
            	<div class="project-brdr marg">
                	<div class="border">
                        <div class="project-main">
                            <div class="department-name"><div>Department of<br>Department Name</div></div><!-- .project-name -->
                            <div class="total_projects">Total Projects: <span>15</span></div><!-- .project-budget -->
                            <div class="in-planning cfye"><div class="left">Completed in FYE</div><span class="right">3</span></div>
                            <div class="in-planning cipl"><div class="left">Currently in planning</div><span class="right">3</span></div>
                            <div class="in-planning inimpl"><div class="left">In implementation</div><span class="right">3</span></div>
                            <div class="in-planning fincom"><div class="left">Final completion</div><span class="right">3</span></div>
                            <div class="in-planning praccom"><div class="left">Practical completion</div><span class="right">3</span></div>
                            <div class="project-pie" data-widget="segmentpie"></div>
                        </div><!-- .project-main -->
                    </div><!-- .border -->
                </div><!-- .project-brdr -->
                </div><!-- .department-projects-1 -->
            	<div class="department department-projects-2">
            	<div class="project-brdr marg">
                	<div class="border">
                        <div class="project-main">
                            <div class="department-name col-2"><div>Department of<br>Department Name</div></div><!-- .project-name -->
                            <div class="total_projects">Total Projects: <span>15</span></div><!-- .project-budget -->
                            <div class="in-planning cfye"><div class="left">Completed in FYE</div><span class="right">3</span></div>
                            <div class="in-planning cipl"><div class="left">Currently in planning</div><span class="right">3</span></div>
                            <div class="in-planning inimpl"><div class="left">In implementation</div><span class="right">3</span></div>
                            <div class="in-planning fincom"><div class="left">Final completion</div><span class="right">3</span></div>
                            <div class="in-planning praccom"><div class="left">Practical completion</div><span class="right">3</span></div>
                            <div class="project-pie" data-widget="segmentpie"></div>
                        </div><!-- .project-main -->
                    </div><!-- .border -->
                </div><!-- .project-brdr -->
                </div><!-- .department-projects-2 -->
            	<div class="department department-projects-3">
            	<div class="project-brdr marg">
                	<div class="border">
                        <div class="project-main">
                            <div class="department-name col-3"><div>Department of<br>Department Name</div></div><!-- .project-name -->
                            <div class="total_projects">Total Projects: <span>15</span></div><!-- .project-budget -->
                            <div class="in-planning cfye"><div class="left">Completed in FYE</div><span class="right">3</span></div>
                            <div class="in-planning cipl"><div class="left">Currently in planning</div><span class="right">3</span></div>
                            <div class="in-planning inimpl"><div class="left">In implementation</div><span class="right">3</span></div>
                            <div class="in-planning fincom"><div class="left">Final completion</div><span class="right">3</span></div>
                            <div class="in-planning praccom"><div class="left">Practical completion</div><span class="right">3</span></div>
                            <div class="project-pie" data-widget="segmentpie"></div>
                        </div><!-- .project-main -->
                    </div><!-- .border -->
                </div><!-- .project-brdr -->
                </div><!-- .department-projects-3 -->
            	<div class="department department-projects-4">
            	<div class="project-brdr marg">
                	<div class="border">
                        <div class="project-main">
                            <div class="department-name col-4"><div>Department of<br>Department Name</div></div><!-- .project-name -->
                            <div class="total_projects">Total Projects: <span>15</span></div><!-- .project-budget -->
                            <div class="in-planning cfye"><div class="left">Completed in FYE</div><span class="right">3</span></div>
                            <div class="in-planning cipl"><div class="left">Currently in planning</div><span class="right">3</span></div>
                            <div class="in-planning inimpl"><div class="left">In implementation</div><span class="right">3</span></div>
                            <div class="in-planning fincom"><div class="left">Final completion</div><span class="right">3</span></div>
                            <div class="in-planning praccom"><div class="left">Practical completion</div><span class="right">3</span></div>
                            <div class="project-pie" data-widget="segmentpie"></div>
                        </div><!-- .project-main -->
                    </div><!-- .border -->
                </div><!-- .project-brdr -->
                </div><!-- .department-projects-4 -->
            	<div class="department department-projects-5">
            	<div class="project-brdr marg">
                	<div class="border">
                        <div class="project-main">
                            <div class="department-name col-5"><div>Department of<br>Department Name</div></div><!-- .project-name -->
                            <div class="total_projects">Total Projects: <span>15</span></div><!-- .project-budget -->
                            <div class="in-planning cfye"><div class="left">Completed in FYE</div><span class="right">3</span></div>
                            <div class="in-planning cipl"><div class="left">Currently in planning</div><span class="right">3</span></div>
                            <div class="in-planning inimpl"><div class="left">In implementation</div><span class="right">3</span></div>
                            <div class="in-planning fincom"><div class="left">Final completion</div><span class="right">3</span></div>
                            <div class="in-planning praccom"><div class="left">Practical completion</div><span class="right">3</span></div>
                            <div class="project-pie" data-widget="segmentpie"></div>
                        </div><!-- .project-main -->
                    </div><!-- .border -->
                </div><!-- .project-brdr -->
                </div><!-- .department-projects-5 -->
            	<div class="department department-projects-6">
            	<div class="project-brdr">
                	<div class="border brdr">
                        <div class="project-main">
                            <div class="department-name col-6"><div>Department of<br>Department Name</div></div><!-- .project-name -->
                            <div class="total_projects">Total Projects: <span>15</span></div><!-- .project-budget -->
                            <div class="in-planning cfye"><div class="left">Completed in FYE</div><span class="right">3</span></div>
                            <div class="in-planning cipl"><div class="left">Currently in planning</div><span class="right">3</span></div>
                            <div class="in-planning inimpl"><div class="left">In implementation</div><span class="right">3</span></div>
                            <div class="in-planning fincom"><div class="left">Final completion</div><span class="right">3</span></div>
                            <div class="in-planning praccom"><div class="left">Practical completion</div><span class="right">3</span></div>
                            <div class="project-pie" data-widget="segmentpie"></div>
                        </div><!-- .project-main -->
                    </div><!-- .border -->
                </div><!-- .project-brdr -->
                </div><!-- .department-projects-6 -->
            </div><!-- .project-main-row -->
            <div class="completion-area cf">
            	<div class="completion-text">Completion:</div><!-- .completion-text -->
                <div class="completion-yellow"></div><!-- .completion-yellow -->
            	<div class="completion-text">100%</div><!-- .completion-text -->
                <div class="completion-jam"></div><!-- .completion-jam -->
            	<div class="completion-text">76% - 99%</div><!-- .completion-text -->
                <div class="completion-brown"></div><!-- .completion-brown -->
            	<div class="completion-text">51% - 75%</div><!-- .completion-text -->
                <div class="completion-sky"></div><!-- .completion-sky -->
            	<div class="completion-text">0% - 50%</div><!-- .completion-text -->
            </div><!-- .completion-area -->
        </div><!-- .container -->
    </div><!-- .project-main-area -->
    <div class="container">
    	<div class="projects-title cf"><h3>Completion of projects</h3></div><!-- .projects-title -->
        <div id="completion-projects" class="cf">
        	<div class="completion-project-1">
        	<div class="completion-main">
            	<div class="completion-brdr cf">
                	<div class="completion-area cf">
                    	<div class="complete-project">Projects Complete: <span class="span">35%</span></div><!-- .complete-project -->
                        <div class="in-planning"><span class="left">Due During current FY</span> <span class="right">3</span></div><!-- .in-planning -->
                        <div class="in-planning"><span class="left">Due in 3 months</span> <span class="right">1</span></div><!-- .in-planning -->
                        <div class="in-planning"><span class="left">Due this month</span> <span class="right">5</span></div><!-- .in-planning -->
                        <div class="project-a">
                        <div class="complete-title">Project A</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-a -->
                        <div class="project-b">
                        <div class="complete-title">Project B</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-b -->
                        <div class="project-c">
                        <div class="complete-title">Project C</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-c -->
                        <div class="project-d">
                        <div class="complete-title">Project D</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-d -->
                        <div class="project-e">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-e -->
                        <div class="project-f">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-f -->
                        <div class="project-g">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-g -->
                    </div><!-- .completion-area -->
                </div><!-- .completion-brdr -->
            </div><!-- .completion-main -->
            </div><!-- .completion-project-1 -->
        	<div class="completion-project-2">
        	<div class="completion-main">
            	<div class="completion-brdr cf">
                	<div class="completion-area cf">
                    	<div class="complete-project">Projects Complete: <span class="span">35%</span></div><!-- .complete-project -->
                        <div class="in-planning"><span class="left">Due During current FY</span> <span class="right">3</span></div><!-- .in-planning -->
                        <div class="in-planning"><span class="left">Due in 3 months</span> <span class="right">1</span></div><!-- .in-planning -->
                        <div class="in-planning"><span class="left">Due this month</span> <span class="right">5</span></div><!-- .in-planning -->
                        <div class="project-a">
                        <div class="complete-title">Project A</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-a -->
                        <div class="project-b">
                        <div class="complete-title">Project B</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-b -->
                        <div class="project-c">
                        <div class="complete-title">Project C</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-c -->
                        <div class="project-d">
                        <div class="complete-title">Project D</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-d -->
                        <div class="project-e">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-e -->
                        <div class="project-f">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-f -->
                        <div class="project-g">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-g -->
                    </div><!-- .completion-area -->
                </div><!-- .completion-brdr -->
            </div><!-- .completion-main -->
            </div><!-- .completion-project-2 -->
        	<div class="completion-project-3">
        	<div class="completion-main">
            	<div class="completion-brdr cf">
                	<div class="completion-area cf">
                    	<div class="complete-project">Projects Complete: <span class="span">35%</span></div><!-- .complete-project -->
                        <div class="in-planning"><span class="left">Due During current FY</span> <span class="right">3</span></div><!-- .in-planning -->
                        <div class="in-planning"><span class="left">Due in 3 months</span> <span class="right">1</span></div><!-- .in-planning -->
                        <div class="in-planning"><span class="left">Due this month</span> <span class="right">5</span></div><!-- .in-planning -->
                        <div class="project-a">
                        <div class="complete-title">Project A</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-a -->
                        <div class="project-b">
                        <div class="complete-title">Project B</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-b -->
                        <div class="project-c">
                        <div class="complete-title">Project C</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-c -->
                        <div class="project-d">
                        <div class="complete-title">Project D</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-d -->
                        <div class="project-e">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-e -->
                        <div class="project-f">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-f -->
                        <div class="project-g">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-g -->
                    </div><!-- .completion-area -->
                </div><!-- .completion-brdr -->
            </div><!-- .completion-main -->
            </div><!-- .completion-project-3 -->
        	<div class="completion-project-4">
        	<div class="completion-main">
            	<div class="completion-brdr cf">
                	<div class="completion-area cf">
                    	<div class="complete-project">Projects Complete: <span class="span">35%</span></div><!-- .complete-project -->
                        <div class="in-planning"><span class="left">Due During current FY</span> <span class="right">3</span></div><!-- .in-planning -->
                        <div class="in-planning"><span class="left">Due in 3 months</span> <span class="right">1</span></div><!-- .in-planning -->
                        <div class="in-planning"><span class="left">Due this month</span> <span class="right">5</span></div><!-- .in-planning -->
                        <div class="project-a">
                        <div class="complete-title">Project A</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-a -->
                        <div class="project-b">
                        <div class="complete-title">Project B</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-b -->
                        <div class="project-c">
                        <div class="complete-title">Project C</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-c -->
                        <div class="project-d">
                        <div class="complete-title">Project D</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-d -->
                        <div class="project-e">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-e -->
                        <div class="project-f">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-f -->
                        <div class="project-g">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-g -->
                    </div><!-- .completion-area -->
                </div><!-- .completion-brdr -->
            </div><!-- .completion-main -->
            </div><!-- .completion-project-4 -->
        	<div class="completion-project-5">
        	<div class="completion-main">
            	<div class="completion-brdr cf">
                	<div class="completion-area cf">
                    	<div class="complete-project">Projects Complete: <span class="span">35%</span></div><!-- .complete-project -->
                        <div class="in-planning"><span class="left">Due During current FY</span> <span class="right">3</span></div><!-- .in-planning -->
                        <div class="in-planning"><span class="left">Due in 3 months</span> <span class="right">1</span></div><!-- .in-planning -->
                        <div class="in-planning"><span class="left">Due this month</span> <span class="right">5</span></div><!-- .in-planning -->
                        <div class="project-a">
                        <div class="complete-title">Project A</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-a -->
                        <div class="project-b">
                        <div class="complete-title">Project B</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-b -->
                        <div class="project-c">
                        <div class="complete-title">Project C</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-c -->
                        <div class="project-d">
                        <div class="complete-title">Project D</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-d -->
                        <div class="project-e">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-e -->
                        <div class="project-f">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-f -->
                        <div class="project-g">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-g -->
                    </div><!-- .completion-area -->
                </div><!-- .completion-brdr -->
            </div><!-- .completion-main -->
            </div><!-- .completion-project-5 -->
        	<div class="completion-project-6">
        	<div class="completion-main">
            	<div class="completion-brdr cf">
                	<div class="completion-area cf">
                    	<div class="complete-project">Projects Complete: <span class="span">35%</span></div><!-- .complete-project -->
                        <div class="in-planning"><span class="left">Due During current FY</span> <span class="right">3</span></div><!-- .in-planning -->
                        <div class="in-planning"><span class="left">Due in 3 months</span> <span class="right">1</span></div><!-- .in-planning -->
                        <div class="in-planning"><span class="left">Due this month</span> <span class="right">5</span></div><!-- .in-planning -->
                        <div class="project-a">
                        <div class="complete-title">Project A</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-a -->
                        <div class="project-b">
                        <div class="complete-title">Project B</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-b -->
                        <div class="project-c">
                        <div class="complete-title">Project C</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-c -->
                        <div class="project-d">
                        <div class="complete-title">Project D</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-d -->
                        <div class="project-e">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-e -->
                        <div class="project-f">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-f -->
                        <div class="project-g">
                        <div class="complete-title">Project E</div><!-- .complete-title -->
                        <div class="project-completion-progress cf">
                        	<div class="completion-progress">Complete: <span>35%</span></div><!-- .pro-text -->
                        </div><!-- .pro-bg -->
                        </div><!-- .project-g -->
                    </div><!-- .completion-area -->
                </div><!-- .completion-brdr -->
            </div><!-- .completion-main -->
            </div><!-- .completion-project-6 -->
        </div><!-- .completion-main-row -->
    	<div class="projects-title cf"><h3>Number of jobs created: current month</h3></div><!-- .projects-title -->
        <div class="jobs-main-row cf">
        	<div class="job-main cf">
            	<div class="number-of-jobs">7<br></div><!-- .jobs-text -->
                <div class="jobs-created">jobs created</div><!-- .jobs-created -->
            </div><!-- .job-main -->
        	<div class="job-main man-2 cf">
            	<div class="number-of-jobs">13<br></div><!-- .jobs-text -->
                <div class="jobs-created">jobs created</div><!-- .jobs-created -->
            </div><!-- .job-main -->
        	<div class="job-main man-3 cf">
                <div class="number-of-jobs">38<br></div><!-- .jobs-text -->
                <div class="jobs-created">jobs created</div><!-- .jobs-created -->
            </div><!-- .job-main -->
        	<div class="job-main man-4 cf">
                <div class="number-of-jobs">268<br></div><!-- .jobs-text -->
                <div class="jobs-created">jobs created</div><!-- .jobs-created -->
            </div><!-- .job-main -->
        	<div class="job-main man-5 cf">
            	<div class="number-of-jobs">3<br></div><!-- .jobs-text -->
                <div class="jobs-created">jobs created</div><!-- .jobs-created -->
            </div><!-- .job-main -->
        	<div class="job-main man-6 brdr cf">
            	<div class="number-of-jobs">1239<br></div><!-- .jobs-text -->
                <div class="jobs-created">jobs created</div><!-- .jobs-created -->
            </div><!-- .job-main -->
        </div><!-- .jobs-main-row -->
    </div><!-- .container -->
{% endblock %}
