.page-project .block-legend {
  padding: 25px 5px; }
  .page-project .block-legend ul li:nth-child(1):before {
    background: #85cabb; }
  .page-project .block-legend ul li:nth-child(2):before {
    background: #e6b744; }
.page-project .project-stage,
.page-project .project-stage-heading {
  display: inline-block;
  width: 195px;
  height: 40px;
  font-size: 22px;
  line-height: 40px; }
.page-project .project-stage {
  margin-left: 20px;
  margin-top: 40px;
  background-color: #F14637;
  border: 1px solid white;
  position: relative;
  text-align: center;
  width: 264px; }
  .page-project .project-stage .stage-progress {
    display: none;
    position: absolute;
    top: -40px;
    margin-left: -20px;
    width: 40px;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold; }
    .page-project .project-stage .stage-progress:after {
      content: '';
      width: 0;
      height: 0;
      border-top: 14px solid #4f4c4c;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px; }
.page-project .project-stage-planning .stage-planning {
  background-color: #FDDC10; }
  .page-project .project-stage-planning .stage-planning .stage-progress {
    display: block; }
.page-project .project-stage-implementation .stage-planning {
  background-color: #88BF52; }
.page-project .project-stage-implementation .stage-implementation {
  background-color: #FDDC10; }
  .page-project .project-stage-implementation .stage-implementation .stage-progress {
    display: block; }
.page-project .project-stage-completed .stage-planning,
.page-project .project-stage-completed .stage-implementation {
  background-color: #88BF52; }
.page-project .project-stage-completed .stage-completed {
  background-color: #FDDC10; }
  .page-project .project-stage-completed .stage-completed .stage-progress {
    display: block; }
.page-project .project-stage-final-accounts .stage-planning,
.page-project .project-stage-final-accounts .stage-implementation,
.page-project .project-stage-final-accounts .stage-completed {
  background-color: #88BF52; }
.page-project .project-stage-final-accounts .stage-final-accounts {
  background-color: #FDDC10; }
  .page-project .project-stage-final-accounts .stage-final-accounts .stage-progress {
    display: block; }
.page-project .project-stage-done .stage-planning,
.page-project .project-stage-done .stage-implementation,
.page-project .project-stage-done .stage-completed,
.page-project .project-stage-done .stage-final-accounts {
  background-color: #88BF52; }
