$black: #333;
$blue: #85CABB;
$orange: #E6B744;

.widget.widget-bar {
    text.title {
	fill: $black;
	text-anchor: middle;
    }
    
    .label {
	
	line {
	    stroke: $black;
	    stroke-width: 0.5;
	    stroke-dasharray: 0.5 0.5;
	}
	
	text {
	    font-size: 0.8em;
	    fill: $black;
	    text-anchor: end;
	}
    }
    
    .bar {
	&.bar-0 rect {
	    fill: $blue;
	}

	&.bar-1 rect {
	    fill: $orange;
	}
	
	
	text {
	    font-size: 0.8em;
	    fill: $black;
	    text-anchor: middle;
	}
    }
}