@font-face {
  font-family: 'Arial';
  src: url("../fonts/Arial.ttf");
  src: url("../fonts/Arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Arial Narrow';
  src: url("../fonts/Arial Narrow.eot");
  src: url("../fonts/Arial Narrow.woff") format("woff"), url("../fonts/Arial Narrow.ttf") format("truetype"), url("../fonts/Arial Narrow.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: Arial; }

.page.page-a4 {
  width: 2100px;
  height: 2970px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.page-header:after {
  content: '';
  display: block;
  height: 0;
  clear: both; }
.page-header .page-header-detail {
  float: left;
  height: 560px;
  position: relative; }
  .page-header .page-header-detail .page-header-logo {
    padding-top: 75px;
    padding-bottom: 75px; }
    .page-header .page-header-detail .page-header-logo img {
      width: 600px; }
  .page-header .page-header-detail .page-header-date {
    font-size: 50px;
    color: #4c4c4c; }
  .page-header .page-header-detail .page-header-heading {
    font-family: Arial Narrow, Arial;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold; }
  .page-header .page-header-detail ul.page-header-tabs {
    margin: 0;
    padding: 0 40px 0 4px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 1000px;
    height: 75px; }
    .page-header .page-header-detail ul.page-header-tabs li {
      color: #4c4c4c;
      position: relative;
      list-style: none;
      display: inline-block;
      background: #bcbcbc;
      padding: 20px;
      padding-left: 60px;
      font-size: 30px;
      width: 230px;
      height: 35px;
      margin: 0 0 0 -4px;
      box-shadow: -40px 0 70px 70px #4c4c4c; }
      .page-header .page-header-detail ul.page-header-tabs li:first-child {
        padding-left: 20px; }
      .page-header .page-header-detail ul.page-header-tabs li:last-child {
        box-shadow: none; }
      .page-header .page-header-detail ul.page-header-tabs li:nth-child(1) {
        z-index: 5; }
      .page-header .page-header-detail ul.page-header-tabs li:nth-child(2) {
        z-index: 4; }
      .page-header .page-header-detail ul.page-header-tabs li:nth-child(3) {
        z-index: 3; }
      .page-header .page-header-detail ul.page-header-tabs li:nth-child(4) {
        z-index: 2; }
      .page-header .page-header-detail ul.page-header-tabs li:nth-child(5) {
        z-index: 1; }
      .page-header .page-header-detail ul.page-header-tabs li:after {
        content: '';
        position: absolute;
        left: 99.9%;
        top: 0;
        display: block;
        width: 0;
        height: 45px;
        border-left: 30px solid #bcbcbc;
        border-top: 30px solid transparent; }
      .page-header .page-header-detail ul.page-header-tabs li.page-header-tabs-active {
        background: #4c4c4c;
        color: white; }
        .page-header .page-header-detail ul.page-header-tabs li.page-header-tabs-active:after {
          border-left: 30px solid #4c4c4c; }
      .page-header .page-header-detail ul.page-header-tabs li img {
        margin-bottom: -5px;
        margin-top: -10px;
        position: relative;
        width: 50px; }
.page-header .page-header-image {
  width: 47%;
  height: 560px;
  float: right;
  overflow: hidden; }
  .page-header .page-header-image img {
    opacity: 0.6;
    height: 160%;
    margin-top: -190px; }

i.icon-dashboard:after {
  content: url(../img/icon-dashboard.svg);
  width: 50px;
  heihgt: 40px; }
i.icon-progress:after {
  content: url(../img/icon-dashboard.svg);
  width: 50px;
  heihgt: 40px; }
i.icon-performance:after {
  content: url(../img/icon-dashboard.svg);
  width: 50px;
  heihgt: 40px; }

.line {
  height: 1px;
  width: 100%;
  background: #4c4c4c;
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px; }

h1 {
  color: #4c4c4c;
  font-size: 40px;
  font-weight: normal;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 10px; }
  h1.heading-orange {
    background: #e6b744; }

h2 {
  color: #4c4c4c;
  font-size: 40px;
  font-weight: normal;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #4c4c4c;
  margin-top: 0;
  margin-bottom: 10px; }

.two-column:after {
  content: '';
  display: block;
  height: 0;
  clear: both; }
.two-column .column-left, .two-column .column-right {
  width: 49%; }
.two-column .column-left {
  float: left; }
.two-column .column-right {
  float: right; }

.container {
  padding: 5px; }
  .container:after {
    content: '';
    display: block;
    height: 0;
    clear: both; }
  .container.container-grey {
    background: #e9e9e9; }

.column {
  float: left;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .column:after {
    content: '';
    display: block;
    height: 0;
    clear: both; }
  .column.one-column {
    width: 100%; }
  .column.two-column {
    width: 50%; }
  .column.three-column {
    width: 33.3%; }
  .column.column-nomargin {
    margin-top: -5px; }
  .column.column-narrower {
    padding-left: 5px;
    padding-right: 5px; }
  .column.column-bordered {
    border: 4px solid #4c4c4c; }
  .column.column-dashed-separator {
    border-left: 2px dashed #4c4c4c; }
    .column.column-dashed-separator:first-child {
      border-left: none; }

.block {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  height: 46px;
  color: #4c4c4c;
  clear: both; }
  .block.block-double {
    height: 97px; }
  .block.block-tripple {
    height: 148px; }
  .block.block-quad {
    height: 199px; }
  .block.block-quintuple {
    height: 250px; }
  .block.block-nopad {
    padding: 0; }
  .block.greyblock, .block.block-grey {
    background: #bcbcbc;
    border: 1px solid #4c4c4c; }
  .block.darkgreyblock, .block.block-darkgrey {
    color: white;
    background: #4c4c4c;
    border: 1px solid #4c4c4c; }
  .block.whiteblock, .block.block-white {
    background: white;
    border: 1px solid #4c4c4c; }
  .block.block-line {
    border-bottom: 1px solid #4c4c4c; }
  .block.block-purple {
    background: #bcb3d1; }
  .block.block-brown {
    background: #d0d0ae; }
  .block.block-green {
    background: #b6ded3; }
  .block.block-blue {
    background: #bfdff6; }

.right {
  float: right; }

.center {
  text-align: center; }

.bold {
  font-weight: bold; }

.replace {
  font-weight: bold; }

.widget {
  font-size: 10px; }
  .widget[data-widget="slider"] {
    font-size: 6px; }
  .widget[data-widget="donut"] {
    font-size: 8px; }
