$black: #333;
$grey: #CCCCCC;
$darkgrey: #4F4C4C;
$blue: #85CABB;
$orange: #E6B744;

$color1: #B6DED3;
$color2: #E7CE8B;
$color3: #BCB3D1;
$color4: #D0D0AE;
$color5: #BFDFF6;
$color6: #BCBCBC;

.page-project {
    .block-legend {
	padding: 25px 5px;
	
	ul {
	    li:nth-child(1):before {
		background: $blue;
	    }
	    li:nth-child(2):before {
		background: $orange;
	    }
	}
    }
    
    .project-stage,
    .project-stage-heading {
	display: inline-block;
	width: 195px;
	height: 40px;
	font-size: 22px;
	line-height: 40px;
    }
    
    .project-stage {
	margin-left: 20px;
	margin-top: 40px;
	background-color: #F14637;
	border: 1px solid white;
	position: relative;
	text-align: center;
	width: 264px;
	
	.stage-progress {
	    display: none;
	    position: absolute;
	    top: -40px;
	    margin-left: -20px;
	    width: 40px;
	    text-align: center;
	    font-size: 24px;
	    line-height: 34px;
	    font-weight: bold;
	    
	    &:after {
		content: '';
		width: 0;
		height: 0;
		border-top: 14px solid $darkgrey;
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -10px;
	    }
	}
    }
    
    .project-stage-planning {
	.stage-planning {
	    background-color: #FDDC10;
	    
	    .stage-progress {
		display: block
	    }
	}
    }
    
    .project-stage-implementation {
	.stage-planning {
	    background-color: #88BF52;
	}

	.stage-implementation {
	    background-color: #FDDC10;
	    
	    .stage-progress {
		display: block
	    }
	}
    }
    
    .project-stage-completed {
	.stage-planning,
	.stage-implementation {
	    background-color: #88BF52;
	}

	.stage-completed {
	    background-color: #FDDC10;
	    
	    .stage-progress {
		display: block
	    }
	}
    }
    
    .project-stage-final-accounts {
	.stage-planning,
	.stage-implementation,
	.stage-completed {
	    background-color: #88BF52;
	}

	.stage-final-accounts {
	    background-color: #FDDC10;
	    
	    .stage-progress {
		display: block
	    }
	}
    }

    .project-stage-done {
	.stage-planning,
	.stage-implementation,
	.stage-completed,
	.stage-final-accounts {
	    background-color: #88BF52;
	}
    }
    
    .block.block-project-status {
	color: white;
	margin-left: 0;
	padding: 2px 5px;
	
	h3 {
	    font-size: 1.65em;
	    line-height: 1.3em;
	    margin: 0;
	}
    }
    
    .block[data-color="red"] {
	background-color: #F14637;
    }

    .block[data-color="yellow"] {
	background-color: #FDDC10;
	color: $black;
    }

    .block[data-color="green"] {
	background-color:  #88BF52;
    }
    
    .phase-planning {
	display: none;
    }
    
    .phase-other {
	dispaly: block;
    }
    
    [data-phase="planning"] {
	.phase-planning {
	    display: block;
	}
	
	.phase-other {
	    display: none;
	}
    }
    
    .planning-phase-widget {
	text-align: center;
	height: 291px;

	.planning-phase-inline {
	    margin-top: 100px;
	    position: relative;
	    display: inline-block;
	    width: 140px;
	    height: 40px;
	    
	    &.planning-phase-consultant-appointment {
		background-color: $color1;
	    }
	    
	    &.planning-phase-design-costing {
		background-color: $color2;
	    }
	    
	    &.planning-phase-documentation {
		background-color: $color3;
	    }
	    
	    &.planning-phase-tender {
		background-color: $color4;
	    }
	}
	
	&[data-planning-phase="consultant-appointment"] .planning-phase-consultant-appointment {
	    &:after {
		content: '';
		width: 0;
		height: 0;
		border-top: 14px solid $darkgrey;
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		position: absolute;
		top: -20%;
		left: 50%;
		margin-left: -10px;
	    }
	}
	
	&[data-planning-phase="design-costing"] .planning-phase-design-costing {
	    &:after {
		content: '';
		width: 0;
		height: 0;
		border-top: 14px solid $darkgrey;
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		position: absolute;
		top: -20%;
		left: 50%;
		margin-left: -10px;
	    }
	}
	
	&[data-planning-phase="documentation"] .planning-phase-documentation {
	    &:after {
		content: '';
		width: 0;
		height: 0;
		border-top: 14px solid $darkgrey;
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		position: absolute;
		top: -20%;
		left: 50%;
		margin-left: -10px;
	    }
	}
	
	&[data-planning-phase="tender"] .planning-phase-tender {
	    &:after {
		content: '';
		width: 0;
		height: 0;
		border-top: 14px solid $darkgrey;
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		position: absolute;
		top: -20%;
		left: 50%;
		margin-left: -10px;
	    }
	}
    }
}