/*! project specific CSS goes here. */
.municipality_list li.active{
    display: block;
}
.municipality_list li{
    display: none;
}
.add-scope-field{
    cursor: pointer;
}

#control-group-fixed-spacer {
    height: 50px;
}

#control-group-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(127, 127, 127, 0.5);
    padding: 10px 0;
    margin-bottom: 0;
}

#control-group-fixed .controls {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.date-block {
    display: inline-block;
    margin: 0 5px;
}

fieldset.can-minimize > legend {
    cursor: pointer;
}

fieldset.can-minimize > legend:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-repeat: no-repeat;
    background-position: -288px -120px;
    left: -20px;
    top: 3px;
    margin-left: -14px;
    position: relative;
}

fieldset.can-minimize.minimized > legend:before {
    background-position: -313px -119px;
}

fieldset.can-minimize.minimized > div {
    display: none;
}
