/*! project specific CSS goes here. */
.municipality_list li.active{
    display: block;
}
.municipality_list li{
    display: none;
}
.add-scope-field{
    cursor: pointer;
}

#control-group-fixed-spacer {
    height: 50px;
}

#control-group-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(127, 127, 127, 0.5);
    padding: 10px 0;
    margin-bottom: 0;
}

#control-group-fixed .controls {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}