@import "color-schemer";

// $cs-primary: #2C5C80;

$primary: #2C5C80;
// $secondary: darken(cs-secondary(), 10%); // too light, darkening this up a bit.
$secondary: #AC3C3F;
$tertiary: #808285;
$quadrary: #F2F3F4;
