/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "settings";
@import "responsive";

$other: #ADADAF;

/**
 * Base rules
 */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    text-rendering: optimizeLegibility;
    background-color: #f7f7f7;
    padding: 12px;
}

.content {
}

.logged-in {
}

footer {
    text-align: center;
    margin-bottom: 12px;
}

.result-project {
    .programme {
        font-size: xx-small;
    }
    .title {
        margin: 0 0 12px 0;
        font-size: x-small;
        font-weight: bold;
    }
}

.field {
    margin-bottom: 12px;
}

.errors {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
}

.error {
    padding-left: 3px;
    font-size: xx-small;
    color: #ff0000;
}

.logged-out, .failure {
    text-align: center;

    .content {
        text-align: center;
    }

    form.login {
        box-shadow: 2px 2px 1px #333;
        border-radius: 12px;
        padding: 32px 0;
        color: #fff;
        background-color: $tertiary;

        margin: 12px auto;
        max-width: 355px;

        h3 {
            margin-top: 0;
            margin-bottom: 12px;
        }

        input {
            border-radius: 6px;
            width: 80%;
            height: 30px;
            line-height: 30px;
            padding: 12px;
        }

        .error {
            color: yellow;
            font-size: medium;
        }

        .submit {
            color: #ffffff;
            background-color: $primary;
            font-size: large;
            width: 120px;
            padding: 12px;
        }
    }
}

.widget {
    box-shadow: 2px 2px 1px #666;
    border-radius: 12px;
    color: $tertiary;

    .title {
        margin-top: 12px;
        margin-left: 12px;
        font-size: x-small;
        font-weight: bold;

        @include respond-to(wide) {
            font-size: 10px;
        }
    }
}

.dashboard {
}

.loading {
    position: relative;

    img {
        position: absolute;
        width: 50%;
        overflow: auto;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.slider {
    height: 100px;

    .outer-bar {
        fill:#eef0ef;
        stroke:#dcdcdb;
        stroke-width:0.5;
    }
    .inner-bar {
        fill:url(#inner-gradient);
        stroke:url(#inner-stroke-gradient);
        stroke-width:0.5;
    }
    .marker-accent {
        fill:none;
        stroke:#656263;
        stroke-width:0.5;
    }
    .marker-tab {
        fill:url(#marker-tab-gradient);
    }
    .marker-outer {
        fill:url(#marker-outer-gradient);
        stroke:url(#marker-outer-stroke-gradient);
        stroke-width:0.5;
    }
    .marker-inner {
        fill:url(#marker-inner-gradient);
        stroke:#656263;
        stroke-width:0.5;
    }
    .marker-text {
        font-family:Arial,sans-serif;
        font-size: 6pt;
    }
    .value-text {
        font-family:Arial,sans-serif;
        font-size: 5pt;
    }
}

.donut {
    .slice text {
        font-family:Arial, sans-serif;
        font-size:100%;
    }
    .slice-grey path {
        fill:#CCCCCC;
        stroke-width:0;
    }
    .slice0 path {
        fill:#E7CE8B;
        stroke-width:0;
    }
    .slice1 path {
        fill:#BCB3D1;
        stroke-width:0;
    }
    .slice2 path {
        fill:#D0D0AE; 
        stroke-width:0;
    }
    .slice3 path { 
        fill:#BFDFF6; 
        stroke-width:0;
    }
    .slice4 path { 
        fill:#BCBCBC; 
        stroke-width:0;
    }
    .slice5 path { 
        fill:#B6DED3; 
        stroke-width:0;
    }
}

.ui.category.search .results {
    left: auto;
    right: 0%;
    width: 35em;
}

.ui.search .prompt {
    border-radius: 0;
}

.search-item {
    padding: 0 !important;
}

.cluster-header {
    min-height: 50px;
}

.cluster-dashboard {
    margin-bottom: 1em;
}

.slider {
    height: 60px;
}

.slider-row {
    padding-bottom: 12px !important;

    .header {
        font-size: smaller;
        text-align: center;
    }
};

.district-header {
    font-weight: bold;
}

.cluster-dashboard.card {
    height: 714px;
    margin-bottom: 12px;
}

.cluster-dashboard .back-to-cluster {
    cursor: pointer;
}

.district-rows {
    height: 639px;
    overflow-y: auto;
    overflow-x: hidden;
}

.programme-rows {
    height: 639px;
    overflow-y: auto;
    overflow-x: hidden;
}

.planning-rows,
.implementation-rows
{
    height: 639px;
}

.planning-column:hover,
.implementation-column:hover
{
    cursor: pointer;
}
