{% extends "base.html" %}

{% block page_title %}
Edit Project
<div class="btn-group pull-right">
    <a class="btn btn-default" href="{% url 'entry:list' %}#{{ cluster_name | slugify }}">Cluster Projects</a>
    <a href="#" id="__project_url" class="btn btn-default" disabled="disabled" target="_blank">View report</a>
</div>
{% endblock page_title %}

{% block content %}
<form method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col-xs-2">
            <ul class="nav nav-tabs tabs-left">
                <li class="active"><a href="#general" data-toggle="tab">General</a></li>
                <li><a href="#location" data-toggle="tab">Location</a></li>
                <li><a href="#parties" data-toggle="tab">Parties</a></li>
                <li><a href="#dates" data-toggle="tab">Dates</a></li>
                <li><a href="#budget" data-toggle="tab">Budget</a></li>
                <li><a href="#expenditure" data-toggle="tab">Expenditure</a></li>
                <li><a href="#progress" class="hide-for-phase hide-for-planning" data-toggle="tab">Progress</a></li>
                <li><a href="#comments" data-toggle="tab">Comments</a></li>
            </ul>
        </div>

        <div class="col-xs-10">
            <div class="tab-content">
                <div class="tab-pane active" id="general">
                    <div class="form-group">
                        <label for="_uuid">Id</label>
                        <input class="form-control" type="text" id="_uuid" name="_uuid" readonly="readonly"/>
                    </div>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" id="name" name="name"/>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input class="form-control" type="text" id="description" name="description"/>
                    </div>

                    <div class="form-group">
                        <label for="phase">Phase</label>
                        <select class="form-control" id="phase" name="phase">
                            <option selected="selected">--------</option>
                            <option value="planning">Planning</option>
                            <option value="implementation">Implementation</option>
                            <option value="completed">Completed</option>
                            <option value="final-accounts">Final Accounts</option>
                            <option value="closed">Closed</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="planning_phase">Planning Phase</label>
                        <select class="form-control" id="planning_phase" name="planning_phase">
                            <option selected="selected">--------</option>
                            <option value="consultant-appointment">Consultant Appointment</option>
                            <option value="design-costing">Design + Costing</option>
                            <option value="documentation">Documentation</option>
                            <option value="tender">Tender</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="cluster">Cluster</label>
                        <select class="form-control" id="cluster" name="cluster">
                            <option selected="selected">--------</option>
                            {% for cluster in clusters %}
                            <option value="{{ cluster.name }}">{{ cluster.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="programme">Programme</label>
                        <select class="form-control" id="programme" name="programme">
                            <option selected="selected">--------</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="contract">Contract Number</label>
                        <input class="form-control" type="text" id="contract" name="contract"/>
                    </div>

                    <div class="form-group">
                        <label for="scope">Scope</label>
                        <textarea class="form-control" rows="5" type="text" id="scope" name="scope"></textarea>
                    </div>

                    <div class="form-group hide-for-phase hide-for-planning">
                        <label for="jobs">Jobs Created</label>
                        <input class="form-control" type="text" id="jobs" name="jobs"/>
                    </div>
                </div>
                <div class="tab-pane" id="location">
                    <div class="form-group">
                        <label for="district">District</label>
                        <select class="form-control" id="district" name="district">
                            <option selected="selected">--------</option>
                            <option value="Bohlabela">Bohlabela</option>
                            <option value="Ehlanzeni">Ehlanzeni</option>
                            <option value="Gert Sibande">Gert Sibande</option>
                            <option value="Nkangala">Nkangala</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="municipality">Municipality</label>
                        <input class="form-control" type="text" id="municipality" name="municipality"/>
                    </div>

                    <div class="form-group">
                        <label for="location">Location / Village</label>
                        <input class="form-control" type="text" id="location" name="location"/>
                    </div>
                </div>
                <div class="tab-pane" id="parties">
                    <div class="form-group">
                        <label for="implementing_agent">Implementing Agent</label>
                        <select class="form-control" id="implementing_agent" name="implementing_agent">
                            <option selected="selected">--------</option>
                            {% for agent in implementing_agents %}
                            <option value="{{ agent.name }}">{{ agent.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="principal_agent">Consultant</label>
                        <input class="form-control" type="text" id="principal_agent" name="principal_agent"/>
                    </div>

                    <div class="form-group hide-for-phase hide-for-planning">
                        <label for="contractor">Contractor</label>
                        <input class="form-control" type="text" id="contractor" name="contractor" autocomplete="off" />
                    </div>

                    <div class="form-group">
                        <label for="coordinator">Coordinator</label>
                        <input class="form-control" type="text" id="manager" name="manager" autocomplete="off" />
                    </div>
                </div>
                <div class="tab-pane" id="dates">
                    <div class="form-group hide-for-phase hide-for-implementation">
                        <label for="planning_start">Planning Start</label>
                        <div class="input-group">
                            <input class="form-control input-datepicker" type="text" id="planning_start" name="planning_start"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>

                    <div class="form-group hide-for-phase hide-for-implementation">
                        <label for="planning_completion">Planning Completion</label>
                        <div class="input-group">
                            <input class="form-control input-datepicker" type="text" id="planning_completion" name="planning_completion"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>

                    <div class="form-group hide-for-phase hide-for-planning">
                        <label for="implementation_handover">Implementation Handover</label>
                        <div class="input-group">
                            <input class="form-control input-datepicker" type="text" id="implementation_handover" name="implementation_handover"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="planned_start">Planned Start</label>
                        <div class="input-group">
                            <input class="form-control input-datepicker" type="text" id="planned_start" name="planned_start"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>

                    <div class="form-group hide-for-phase hide-for-planning">
                        <label for="actual_start">Actual Start</label>
                        <div class="input-group">
                            <input class="form-control input-datepicker" type="text" id="actual_start" name="actual_start"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="planned_completion">Planned Completion</label>
                        <div class="input-group">
                            <input class="form-control input-datepicker" type="text" id="planned_completion" name="planned_completion"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>

                    <div class="form-group hide-for-phase hide-for-planning">
                        <label for="revised_completion">Revised Completion</label>
                        <div class="input-group">
                            <input class="form-control input-datepicker" type="text" id="revised_completion" name="revised_completion"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>

                    <div class="form-group hide-for-phase hide-for-planning">
                        <label for="actual_completion">Actual Completion</label>
                        <div class="input-group">
                            <input class="form-control input-datepicker" type="text" id="actual_completion" name="actual_completion"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>

                    <div class="form-group hide-for-phase hide-for-planning">
                        <label for="extensions">Time Extensions</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="extensions" name="extensions"/>
                            <span class="input-group-addon">months</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="budget">
                    <div class="form-group">
                        <label for="source">Source</label>
                        <input class="form-control" type="text" id="source" name="source"/>
                    </div>

                    <div class="form-group">
                        <label for="total_anticipated_cost">Overall</label>
                        <div class="input-group">
                            <span class="input-group-addon">R</span>
                            <input class="form-control" type="text" id="total_anticipated_cost" name="total_anticipated_cost"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="allocated_budget_for_year">Current Financial Year</label>
                        <div class="input-group">
                            <span class="input-group-addon">R</span>
                            <input class="form-control" type="text" id="allocated_budget_for_year" name="allocated_budget_for_year"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="budget_implementation">Implementation</label>
                        <div class="input-group">
                            <span class="input-group-addon">R</span>
                            <input class="form-control" type="text" id="budget_implementation" name="budget_implementation"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="budget_planning">Planning</label>
                        <div class="input-group">
                            <span class="input-group-addon">R</span>
                            <input class="form-control" type="text" id="budget_planning" name="budget_planning"/>
                        </div>
                    </div>

                    <div class="form-group hide-for-phase hide-for-planning">
                        <label for="budget_variation_orders">Variation Orders</label>
                        <div class="input-group">
                            <span class="input-group-addon">R</span>
                            <input class="form-control" type="text" id="budget_variation_orders" name="budget_variation_orders"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="actual">Planned Expenditure</label>
                        <div class="years row" id="planning-expenditure">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="expenditure">
                    <div class="form-group">
                        <label for="total_previous_expenses">Previous Years</label>
                        <div class="input-group">
                            <span class="input-group-addon">R</span>
                            <input class="form-control" type="text" id="total_previous_expenses" name="total_previous_expenses"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="expenditure_in_year">This Year</label>
                        <div class="input-group">
                            <span class="input-group-addon">R</span>
                            <input class="form-control" type="text" id="expenditure_in_year" name="expenditure_in_year"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="expenditure_to_date">Total to Date</label>
                        <div class="input-group">
                            <span class="input-group-addon">R</span>
                            <input class="form-control" type="text" id="expenditure_to_date" name="expenditure_to_date"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="actual">Actual Expenditure</label>
                        <div class="years row" id="actual-expenditure"></div>
                    </div>
                </div>
                <div class="tab-pane hide-for-phase hide-for-planning" id="progress">
                    <div class="form-group">
                        <label for="actual">Planned Progress</label>
                        <div class="years row" id="planning-progress"></div>
                    </div>

                    <div class="form-group">
                        <label for="actual">Actual Progress</label>
                        <div class="years row" id="actual-progress"></div>
                    </div>
                </div>
                <div class="tab-pane" id="comments">
                    <div class="form-group">
                        <label for="comments">Comments</label>
                        <textarea class="form-control" rows="5" type="text" id="comments" name="comments"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="remedial_action">Mitigation</label>
                        <textarea class="form-control" rows="5" type="text" id="remedial_action" name="remedial_action"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="form-group-fixed-spacer"></div>

    <div id="form-group-fixed">
        <div class="container">
            <input class="btn btn-primary" type="button" id="save" name="__save" value="Save"/>
            <input class="btn btn-danger" type="button" id="reset" name="__reset" value="Reset"/>
        </div>
    </div>
</form>

<div class="modal fade" id="savingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Saving</h4>
            </div>
            <div class="modal-body">
                <p>Your changes are being saved. Please wait.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block extra_js %}
<script src="{{ STATIC_URL }}bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
<script>
var data = {{ data|safe }};
var csrf_token = "{{ csrf_token|safe }}";
var url_entry_coordinator = "{% url 'entry:coordinator' %}";
var url_entry_contractor = "{% url 'entry:contractor' %}";
var url_entry_programme = "{% url 'entry:programme' %}";
</script>
<script src="{{ STATIC_URL }}js/entry_project.js"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap-vertical-tabs/bootstrap.vertical-tabs.css" />
<style>
.date-block {
    padding-right: 0;
}
</style>
{% endblock %}
